PLAID_CLIENT_ID = '5cb0ce482db15200120fb445'
PLAID_SECRET = '8b33b5d685f70591320f566ad87901'
PLAID_PUBLIC_KEY = '0cfea3b8cf3611b374aecb1a215a39'
# Use 'sandbox' to test with Plaid's Sandbox environment (username: user_good,
# password: pass_good)
# Use `development` to test with live users and credentials and `production`
# to go live
PLAID_ENV = os.getenv('PLAID_ENV', 'sandbox')
# PLAID_PRODUCTS is a comma-separated list of products to use when initializing
# Link. Note that this list must contain 'assets' in order for the app to be
# able to create and retrieve asset reports.
PLAID_PRODUCTS = os.getenv('PLAID_PRODUCTS', 'transactions,auth')
